.sign__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

:root { 
    --menu-bg: #e7e7e7 ;
    --menu-color:#2C2C2C;
    --menu-color-trasparent:#2c2c2ca9;
    --button-bg: #1d1f1f;
    --highlite: #e03838;
    --mediatext-bg:#dcdcde;
	--login-bg:#eee;
	--form-bg-log: #e0dede;
    --gradient-img: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8));
   }

   
.sign__main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	background-color: var(--menu-color) ;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.signup__form label, .signin__form label{
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
#signup__label{
	color: var(--login-bg);
}

#signin__label{
	color: var(--button-bg);
		padding-top: 5%;
}
.signup__form input, .signin__form input{
	width: 60%;
	height: 10px;
	background: var(--form-bg-log);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.signup__form button , .signin__form button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.signup__form button:hover, .signin__form button:hover{
	background: var(--highlite);
}
#signup__button {
	color: var(--button-bg) ;
	background: var(--mediatext-bg) ;

}

#signin__button{
	color: var(--menu-bg);
	background: var(--button-bg);
}

#signup__button:hover, 
#signin__button:hover
{
	color:var(--menu-bg) ;
	background-color: var(--highlite);
}
.login{
	height: 150%;
	background: var(--login-bg);
	border-radius: 60% / 10%;
	transform: translateY(-165px);
	transition: .8s ease-in-out;
}
.login label{
	padding-top: 5px;
	color: var(--highlite);
	transform: scale(.6);
}
#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	padding-top:40px;
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	margin-top: 10px;
	transform: scale(.6);
}

@media (max-width: 768px) {
	.sign__main{
		height: 100vh;
		width: 100vw;
	}
	.sign__main{
		padding: 15% 0; 
		position: absolute; 
		top:60px;  
		left:0;
	}
	.login{
		height: 150%;
		transform: translateY(-10%);
	}
	#signin__label{
		padding-top: 5%;
	}
	.signin__form{
		padding-top: 0px;
	}
	.signup__form input, .signup__form button 
	,.signin__form input, .signin__form button
	{
		height: 40px;
		width: 50%;
	}
	#chk:checked ~ .login{
		transform: translateY(-65%);
	}
	#chk:checked ~ .login label{
		padding-top:60px;
		transform: scale(1);	
	}
	#chk:checked ~ .signup label{
		transform: scale(.6);
	}
	


  }